@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;700&display=swap');

*{
	margin: 0;
	padding: 0;
	list-style: none;
	box-sizing: border-box;
	font-family: 'Ubuntu', sans-serif;
}

body{
    background: linear-gradient(to right, #3f079a, #9c53db);
}
.resumen{
	width: 800px;
	background: #fff;
	margin: 25px auto;
	display: flex;
}
.derecha{
	background: #292b2f;
	width: 250px;
	padding: 0 20px;
}
.izquierda{
	width: calc(100% - 250px);
}

.derecha .imagen{
	text-align: center;
	padding: 20px 0;
}
.derecha:hover .imagen {
	-webkit-transform:scale(1.1);
	transform:scale(1.1);
}
.derecha {
	overflow:hidden;
}

.derecha .imagen img{
	width: 200px;
	border-radius: 30px;
}

.pb{
	padding-bottom: 20px;
}

.titulo{
	font-size: 24px;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 5px;
	padding-bottom: 10px;
	color: #3525af;
	position: relative;
	text-align: right;
	margin-bottom: 15px;
}

.titulo:before{
	content: "";
	position: absolute;
	top: 35px;
	right: 0;
	width: 50px;
	height: 3px;
	background: #3525af;
}

.derecha .icono{
	font-size: 20px;
	color: #9153c9;
}

.izquierda .text{
	color: #9153c9;
	text-transform: uppercase;
	font-size: 13px;
}

.contacto .elemento{
	display: flex;
	align-items: center;
	width: 100%;
	margin-bottom: 15px;
}


.contacto .elemento .icono{
	width: 50px;
	height: 50px;
	background: #fff;
	border-radius: 15px;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-right: 15px;
}

.contacto .elemento .text{
	width: calc(100% - 50px);
	word-break: break-word;
	color: #fff;
}

.skills ul,
.hobbies ul{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.skills .elemento,
.hobbies .elemento{
	width: 100px;
	height: 100px;
	margin-bottom: 15px;
	border-radius: 15px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.skills .elemento{
	background: #fff;
}

.skills .elemento .text,
.hobbies .elemento .text{
	margin-top: 5px;
}

.hobbies .elemento{
	border: 2px solid #fff;
}

.hobbies .elemento .icono,
.hobbies .elemento .text{
	color: #fff;
}

.hobbies .elemento:hover{
	background: #fff;
}

.hobbies .elemento:hover .icono,
.hobbies .elemento:hover .text{
	color: #9153c9;
}

.header{
	background: #292b2f;
	padding: 15px 30px;
	color: #fff;
	height: 240px;
}

.header .nombre{
	font-size: 52px;
	text-transform: uppercase;
	font-weight: 700;
	color: #3525af;
}

.header .rol{
	font-weight: 300;
	font-size: 20px;
}

.header .about{
	margin-top: 20px;
	line-height: 26px;
}

.izquierda_info{
	padding: 30px;
	color: #292b2f;
}

.izquierda_info .educacion{
	margin-top: 30px;
}

.izquierda_info .elemento{
	display: flex;
	margin-bottom: 15px;
}

.izquierda_info .elemento .fecha {
    width: 125px;
    color: #9153c9;
}

.izquierda_info .elemento .infor{
	width: calc(100%  - 125px);
	padding-left: 25px;
	position: relative;
}

.izquierda_info .elemento .info_titulo{
	text-transform: uppercase;
	font-weight: 700;
	letter-spacing: 2px;
	color: #9153c9;
}

.izquierda_info .elemento .info_com{
	font-weight: 300;
	font-size: 14px;
	margin-top: 3px;
}

.izquierda_info .elemento .info_cont{
	margin-top: 15px;
}

.izquierda_info .elemento .infor:before{
	content: "";
	position: absolute;
	top: 3px;
	left: 0;
	width: 10px;
	height: 10px;
	background: #9153c9;
	border-radius: 50%;
}

.izquierda_info .elemento .infor:after{
	content: "";
	position: absolute;
	top: 10px;
	left: 4px;
	width: 2px;
	height: 90%;
	background: #9153c9;
}

p {
	animation-duration: 2s;
	animation-name: slidein;
  }
  
  @keyframes slidein {
	from {
	  margin-left: 15%;
	  width: 115%;
	}
  
	to {
	  margin-left: 0%;
	  width: 100%;
	}
  }